* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//color variables
$main-white-color: white;

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
    &__one {
        background-color: #141414;
        color: $main-white-color;
    }
    &__two {
        background-color: blueviolet;
        color: $main-white-color;
    }
    &__three {
        background-color: #292929;
        color: $main-white-color;
    }
}
.line {
    position: fixed;
    top: 0;
    left: 0;
    height: 8px;
    background-color: white;
    transition: all 200ms ease-out;
}