* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin-top: 2vw;
}
.title {
    border-bottom: 2px solid black;
}
.get-btn {
    padding: 8px;
    text-transform: uppercase;
    margin-bottom: 10px;
}